@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9; /* slate-100 */
}

::-webkit-scrollbar-thumb {
  background: #94a3b8; /* slate-400 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* slate-500 */
}

/* Ensure the root div takes full height */
#root, body, html {
    height: 100%;
}

/* Adiciona uma transição sutil para todos os elementos */
* {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}